/* common */
.inner{
  margin: 0 auto;
  max-width: 1700px;
  padding: 0 50px;
}
section:not(:first-child){
  margin-top: 20px;
}
.more{
  display: inline-block;
  position: relative;
  padding: 10px 55px 10px 40px;
  background-color: #000;
  color: #fff;
  position: relative;
  transition: all 0.5s;
}
.more:hover{
  padding-right: 75px;
}
.more::after{
  content: "";
  display: inline-block;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%) rotate(-45deg);
  margin-left: 3px;
}
h3.tit{
  padding: 80px 0 0 80px;
  position: relative;
  font-size: 8rem;
  font-weight: 800;
}
h3.tit span{
  display: block;
  font-weight: 100;
}
h3.tit::after{
  content: "";
  display: block;
  height: 100px;
  width: 60px;
  background-color: #000;
  position: absolute;
  top: 90px;
  left: 0;
}
h3.tit + p{
  font-size: 2rem;
  margin: 30px 0 0 80px;
  font-weight: 500;
}

@media (max-width:1200px) {
  .inner{
    padding: 0 20px;
  }
  section:not(:first-child){
    margin-top: 15px;
  }
  h3.tit{
    padding: 60px 0 0 60px;
    font-size: 6rem;
  }
  h3.tit span{
    display: block;
    font-weight: 100;
  }
  h3.tit::after{
    height: 80px;
    width: 50px;
    top: 65px;
  }
  h3.tit + p{
  font-size: 1.6rem;
    margin: 30px 0 0 50px;
    font-weight: 500;
  }
}

@media (max-width:765px) {
  .inner{
    padding: 0 12px;
  }
  section:not(:first-child){
    margin-top: 10px;
  }
  h3.tit{
    padding: 40px 0 0 40px;
    font-size: 4rem;
  }
  h3.tit span{
    display: block;
    font-weight: 100;
  }
  h3.tit::after{
    height: 50px;
    width: 30px;
    top: 45px;
  }
  h3.tit + p{
    font-size: 1.4rem;
    margin: 30px 0 0 30px;
    font-weight: 500;
  }
}


/* header */
header{
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 5px;
  background-color: #fff;
}
header .headerbox{
  position: relative;
}
header .gnbbackground1{
  position: absolute;
  top: 125px;
  left: 0;
  width: 100%;
  height: 580px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
header .dim{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}
header .dim .inner{
  width: 100%;
  padding: 50px 5% 200px;
}
header .dim .close{
  position: absolute;
  right: 3%;
  top: 3%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
header .dim .close::before,
header .dim .close::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
}
header .dim .close::before{
  transform: translateY(20px) rotate(45deg);
}
header .dim .close::after{
  transform: translateY(19px) rotate(-45deg);
}
header .dim h2{
  font-weight: 300;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 30px;
}
header .dim .searchbox{
  display: flex;
  gap: 30px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 50px;
}
header .dim .searchbox input[type="text"]{
  width: 100%;
  border: 1px solid #000;
  height: 44px;
  font-size: 2rem;
  padding: 0 15px;
}
header .dim .searchbox button{
  background-color: transparent;
  cursor: pointer;
}

header .dim .mgnb{
  position: relative;
  display: none;
  margin: 0 auto;
  flex-wrap: wrap;
}
header .dim .mgnb > li{
  width: calc(100% / 6);
}
header .dim .mgnb > li > a.active{
  background-color: #000;
  color: #fff;
}
header .dim .mgnb > li > a{
  display: block;
  font-size: 2rem;
  font-weight: 300;
  border: 1px solid #000;
  text-align: center;
  padding: 10px 0;
}
header .dim .mgnb > li > ul{
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px;
  width: 100%;
  border-bottom: 1px solid #000;
}
header .dim .mgnb > li > ul > li{
  width: 100%;
}
header .dim .mgnb > li > ul > li > a{
  display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 2rem;
  font-weight: 800;
  color: #aaa;
}
header .dim .mgnb > li > ul > li > a.active{
  color: #000;
}
header .dim .mgnb > li > ul > li > ul{
  position: fixed;
  top: 75px;
  left: 10px;
  flex-wrap: wrap;
  width: 100%;
}
header .dim .mgnb > li > ul > li > ul li{
  width: calc(100% / 6);
}
header .dim .mgnb > li > ul > li > ul li a{
  display: block;
  padding: 15px 0;
}
header .mainbox{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
header .mainbox h1{
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 5px;
}
header .mainbox .topmenubox{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .mainbox .topmenubox .border{
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 69px;
  border: 1px solid #000;
  z-index: -1;
}
header .mainbox .topmenubox .topmenu{
  display: flex;
}
header .mainbox .topmenubox .topmenu li a{
  font-size: 3.5rem;
  font-weight: 900;
  display: block;
  padding: 10px 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header .mainbox .topmenubox .topmenu li a.active{
  color: #fff;
  background-color: #000;
}
header .mainbox .topmenubox .utill{
  display: flex;
  gap: 20px;
}
header .mainbox .topmenubox .utill li a img{
  width: 25px;
}
header .mainbox .ham{
  width: 20px;
  height: 20px;
  background: url(./assets/ham.png) no-repeat center center / contain;
  cursor: pointer;
  display: none;
}

header nav .gnb{
  display: flex;
  margin-top: 10px;
  border: 1px solid #000;
  position: relative;
}
header nav .gnb > li > a{
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
header nav .gnb > li > ul{
  display: flex;
  position: absolute;
  width: 100%;
  top: 44px;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: opacity 1s;
}
header nav .gnb > li:hover > ul{
  padding: 20px;
  opacity: 1;
  height: 580px;
  max-height: 1000px;
}
header nav .gnb > li > ul > li{
  flex: 1;
}
header nav .gnb > li > ul > li > a{
  display: block;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
}
header nav .gnb > li > ul > li > ul{
  height: 100%;
}
header nav .gnb > li > ul > li > ul > li{
  padding: 5px 0;
}
header nav .gnb > li > ul > li > ul > li:hover a{
  font-weight: 800;
}


@media (max-width:1300px) {
  header .mainbox .topmenubox .topmenu li a{
    padding: 10px 20px;
  }
}
@media (max-width:1200px) {
  header .dim .inner{
    padding: 40px 2% 280px;
  }
  header .dim .mgnb{
    display: flex;
  }
  header .mainbox{
    gap: 15px;
  }
  header .mainbox h1{
    font-size: 4rem;
  }
  header .mainbox .topmenubox .border{
    height: 55px;
  }
  header .mainbox .topmenubox .topmenu li a{
    font-size: 2.4rem;
  }
  header nav{
    display: none;
  }
  header .mainbox .topmenubox .utill{
    display: none;
  }
  header .mainbox .ham{
    display: block;
    position: absolute;
    right: 20px;
    top: 16px;
  }
}
@media (max-width:765px) {
  header .dim{
    display: block;
  }
  header .headerbox .dim{
    height: 100%;
    overflow: scroll;
  }
  header .headerbox .dim .inner{
    padding-bottom: 0px;
  }
  header .dim .close{
    right: 1%;
    top: 1%;
    width: 30px;
    height: 30px;
  }
  header .mainbox{
    flex-wrap: wrap;
    gap: 10px;
  }
  header .mainbox h1{
    font-size: 3rem;
  }
  header .mainbox .topmenubox{
    width: 100%;
  }
  header .mainbox .topmenubox .border{
    height: 48px;
  }
  header .mainbox .topmenubox .topmenu li a{
    font-size: 2rem;
    padding: 10px 12px;
  }
  header .mainbox .ham{
    right: 12px;
    top: 10px;
  }


  header .dim h2{
    font-size: 5rem;
    margin-bottom: 40px;
  }
  header .dim .searchbox{
    width: 100%;
    gap: 15px;
    margin-bottom: 60px;
  }
  header .dim .searchbox input[type="text"]{
    height: 36px;
    font-size: 1.6rem;
    padding-left: 10px;
  }
  header .dim .mgnb > li{
    width: 100%;
  }
  header .dim .mgnb > li > a{
    border: 0;
    border-bottom: 1px solid #000;
    text-align: left;
    padding-left: 20px;
  }
  header .dim .mgnb > li > ul{
    flex-wrap: wrap;
    position: static;
    transform: translateX(0);
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  header .dim .mgnb > li > ul > li{
    width: 100%;
  }
  header .dim .mgnb > li > ul > li a{
    font-size: 1.4rem;
  }
  header .dim .mgnb > li > ul > li > ul{
    position: static;
    flex-wrap: wrap;
    width: 100%;
  }
  header .dim .mgnb > li > ul > li > ul li{
    width: calc(100% / 3);
  }
  header .dim .mgnb > li > ul > li > ul li a{
    font-size: 1.2rem;
  }

}
@media (max-width:480px) {
  header .mainbox h1{
    font-size: 2.5rem;
  }
  header .mainbox .ham{
    position: absolute;
    right: 12px;
    top: 8px;
  }
  header .mainbox .topmenubox .topmenu li{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .mainbox .topmenubox .topmenu li a{
    padding: 8px 10px;
    font-size: 1.6rem;
  }
  header .mainbox .topmenubox .border{
    height: 39px;
  }
}

@media (max-width:385px){
  header .mainbox .topmenubox .border{
    height: 61px;
  }
}


/* mv */
#mv{
  padding-top: 140px;
}
#mv .swiper .swiper-button-prev{
  top: 45%;
  left: 40px;
}
#mv .swiper .swiper-button-next{
  top: 45%;
  right: 40px;
}
#mv .swiper .swiper-button-prev::after,
#mv .swiper .swiper-button-next::after{
  color: #000;
}
#mv .swiper .swiper-pagination-progressbar{
  position: absolute;
  height: 8px;
  top: auto;
  bottom: 0;
}
#mv .swiper .swiper-pagination-progressbar-fill{
  background-color: #000;
}
#mv .swiper .swiper-wrapper .swiper-slide{
  position: relative;
}
#mv .swiper .swiper-wrapper .swiper-slide img{
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 140px);
  padding-bottom: 20px;
}
#mv .swiper .swiper-wrapper .swiper-slide .imgt,
#mv .swiper .swiper-wrapper .swiper-slide .imgm{
  display: none;
}

#mv .swiper .swiper-wrapper .swiper-slide h3{
  position: absolute;
  font-size: 8rem;
  bottom: 10px;
  left: 10%;
  text-align: center;
}
#mv .swiper .swiper-wrapper .swiper-slide h3 span{
  display: block;
  font-weight: 200;
}
#mv .swiper .swiper-wrapper .swiper-slide p{
  font-size: 1.2rem;
  width: 160px;
  position: absolute;
  bottom: 20%;
  right: 20.5%;
}
#mv .swiper .swiper-wrapper .swiper-slide h4{
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 8.5rem;
  left: 15%;
  top: 30px;
}

#mv .swiper .swiper-wrapper .swiper-slide h4 .f1{
  font-weight: 100;
}
#mv .swiper .swiper-wrapper .swiper-slide h4 .f2{
  font-weight: 600;
}
#mv .swiper .swiper-wrapper .swiper-slide h4 .f3{
  font-weight: 200;
}
#mv .swiper .swiper-wrapper .swiper-slide h4 .f4{
  font-weight: 800;
}

#mv .swiper .swiper-wrapper .swiper-slide:nth-child(2) img{
  padding-bottom: 40px;
}
#mv .swiper .swiper-wrapper .swiper-slide:nth-child(2) h4{
  text-transform: uppercase;
  color: #000;
  left: 7%;
  top: 15%;
}
#mv .swiper .swiper-wrapper .swiper-slide:nth-child(2) h4 span{
  display: block;
  margin-left: 100px;
  font-weight: 200;
}
#mv .swiper .swiper-wrapper .swiper-slide:nth-child(2) p{
  font-size: 2rem;
  width: auto;
  left: 7%;
  bottom: 40%;
}
#mv .swiper .swiper-wrapper .swiper-slide .more{
  position: absolute;
  left: 7%;
  bottom: 25%;
}
#mv .swiper .swiper-wrapper .swiper-slide:nth-child(2) p .br{
  display: none;
}

@media (max-width:1200px){
  #mv{
    padding-top: 85px;
  }
  #mv .swiper .swiper-button-prev{
    left: 20px;
  }
  #mv .swiper .swiper-button-next{
    right: 20px;
  }
  #mv .swiper .swiper-wrapper .swiper-slide img{
    height: calc(100vh - 85px);
    padding-bottom: 0px;
  }
  #mv .swiper .swiper-wrapper .swiper-slide .imgt{
    display: block;
    object-position: 88% 10%;
  }
  #mv .swiper .swiper-wrapper .swiper-slide .imgd{
    display: none;
  }

  #mv .swiper .swiper-wrapper .swiper-slide h3{
    font-size: 7rem;
    bottom: 20px;
    left: 5%;
    text-align: left;
  }
  #mv .swiper .swiper-wrapper .swiper-slide p{
    font-size: 1.2rem;
    width: 160px;
    bottom: 25%;
    right: 30%;
  }
  #mv .swiper .swiper-wrapper .swiper-slide h4{
    top: 0;
    left: 0;
    font-size: 8rem;
    left: 7%;
    top: 50px;
  }
  #mv .swiper .swiper-wrapper .swiper-slide:nth-child(2) p{
    font-size: 1.7rem;
  }
  #mv .swiper .swiper-wrapper .swiper-slide:nth-child(2) p .br{
    display: block;
  }
  #mv .swiper .swiper-wrapper .swiper-slide:nth-child(2) h4{
    font-size: 7rem;
    display: block;
  }

}
@media (max-width:900px){
  #mv .swiper .swiper-wrapper .swiper-slide h3{
    font-size: 6rem;
  }
  #mv .swiper .swiper-wrapper .swiper-slide h4{
    font-size: 7rem;
  }
}

@media (max-width:765px){
  #mv{
    padding-top: 118px;
  }
  #mv .swiper .swiper-button-prev{
    display: none;
  }
  #mv .swiper .swiper-button-next{
    display: none;
  }
  #mv .swiper .swiper-wrapper .swiper-slide img{
    height: calc(100vh - 118px);
    padding-bottom: 0px;
  }
  #mv .swiper .swiper-wrapper .swiper-slide .imgm{
    object-position: 70% 28%;
    display: block;
  }
  #mv .swiper .swiper-wrapper .swiper-slide .imgt{
    display: none;
  }
  #mv .swiper .swiper-wrapper .swiper-slide h3{
    font-size: 4rem;
  }
  #mv .swiper .swiper-wrapper .swiper-slide h4{
    font-size: 5rem;
  }
  #mv .swiper .swiper-wrapper .swiper-slide p{
    width: 200px;
    bottom: 19%;
    right: 5%;
    font-size: 1rem;
    color: #fff;
  }
  #mv .swiper .swiper-wrapper .swiper-slide:nth-child(2) h4{
    top: 10%;
    font-size: 5rem;
  }
  #mv .swiper .swiper-wrapper .swiper-slide:nth-child(2) h4 span{
    margin-left: 50px;
  }
  #mv .swiper .swiper-wrapper .swiper-slide:nth-child(2) .more{
    bottom: 10%;
  }
}
@media (max-width: 480px){
  #mv .swiper .swiper-wrapper .swiper-slide h3{
    font-size: 3.2rem;
  }
}

/* #overview */
#overview{
  background-color: #FFCB5B;
  position: relative;
}
#overview .background{
  width: 330px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
#overview .tabbox{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
#overview .tabbox > a{
  position: absolute;
  left: 500px;
  top: -60px;
  font-size: 3rem;
  font-weight: 800;
}
#overview .tabbox > a:hover{
  text-decoration: underline;
}
#overview .tabbox .tablist{
  padding-left: 90px;
  margin-top: 40px;
}
#overview .tabbox .tablist li{
  cursor: pointer;
  font-size: 3rem;
  font-weight: 500;
  color: #B4B4B4;
  margin: 10px 0;
}
#overview .tabbox .tablist li.active{
  font-weight: 800;
  color: #000;
}

#overview .tabbox .tabcont{
  width: calc(100% - 500px);
}
#overview .tabbox .tabcont li .overviewSwiper .swiper-wrapper .swiper-slide{
  text-align: center;
}
#overview .tabbox .tabcont li .overviewSwiper .swiper-wrapper .swiper-slide img{
  width: 100%;
}
#overview .tabbox .tabcont li .overviewSwiper .swiper-wrapper .swiper-slide h5{
  font-size: 2.4rem;
  margin-top: 20px;
}
#overview .tabbox .tabcont li .overviewSwiper .swiper-wrapper .swiper-slide p{
  font-size: 2rem;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#overview .tabbox .tabcont li .overviewSwiper .swiper-wrapper .swiper-slide a.more{
  margin-top: 25px;
}
#overview .tabbox .tabcont li .overviewSwiper .swiper-button-next{
  position: absolute; 
  z-index: 9;
}
#overview .tabbox .tabcont li .overviewSwiper .swiper-button-next,
#overview .tabbox .tabcont li .overviewSwiper .swiper-button-prev{
  top: auto;
  top: 35%;
  color: #fff;
}

@media (max-width:1200px){

  #overview .background{
    width: 250px;
  }
  #overview .tabbox{
    padding-bottom: 60px;
  }
  #overview .tabbox .tablist{
    padding-left: 80px;
    margin-top: 35px;
  }
  #overview .tabbox .tablist li{
    font-size: 2.5rem;
    margin: 10px 0;
  }
  #overview .tabbox .tabcont{
    width: calc(100% - 360px);
  }
  #overview .tabbox .tabcont li .overviewSwiper .swiper-wrapper .swiper-slide h5{
    font-size: 2rem;
    margin-top: 20px;
  }
  #overview .tabbox .tabcont li .overviewSwiper .swiper-wrapper .swiper-slide p{
    font-size: 1.6rem;
    margin-top: 5px;
  }
  #overview .tabbox > a{
  position: absolute;
    left: 360px;
    top: -50px;
    font-size: 2.5rem;
  }
  #overview .tabbox .tabcont li .overviewSwiper .swiper-wrapper .swiper-slide a.more{
    margin-top: 20px;
    scale: 0.9;
  }
  #overview .tabbox .tabcont li .overviewSwiper .swiper-button-next,
  #overview .tabbox .tabcont li .overviewSwiper .swiper-button-prev{
    display: none;
  }
}

@media (max-width:765px){
  #overview .background{
    width: 100%;
    height: 240px;
  }
  #overview .tabbox{
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  #overview .tabbox .tablist{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: left;
    padding-left: 30px;
    margin-top: 35px;
  }
  #overview .tabbox .tablist li{
    font-size: 2rem;
    margin: 10px 0;
  }
  #overview .tabbox .tabcont{
    width: 100%;
    padding-left: 40px;
    margin-top: 100px;
  }
  #overview .tabbox .tabcont li .overviewSwiper .swiper-wrapper .swiper-slide h5{
    font-size: 1.8rem;
    margin-top: 20px;
  }
  #overview .tabbox .tabcont li .overviewSwiper .swiper-wrapper .swiper-slide p{
    font-size: 1.4rem;
    margin-top: 5px;
  }
  #overview .tabbox > a{
  position: absolute;
    left: 40px;
    top: 140px;
    font-size: 2rem;
  }
}
@media (max-width:500px){
  #overview .tabbox .tablist{
    gap: 10px;
    margin-top: 45px;
  }
  #overview .tabbox .tablist li{
    font-size: 1.4rem;
  }
}

/* banner */

#banner{
  width: 100%;
  height: 550px;
  background: url(./assets/banner/banner.png) no-repeat center right / cover;
  padding: 90px;
  color: #fff;
}
#banner h3{
  font-size: 8rem;
  font-weight: 500;
  margin-bottom: 60px;
}
#banner p{
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 30px;
}

@media (max-width:1024px) {
  #banner{
  height: 400px;
  background: url(./assets/banner/bannert.png) no-repeat center right / cover;
  padding: 60px;
  }
  #banner h3{
    font-size: 5rem;
    margin-bottom: 60px;
  }
  #banner p{
    font-size: 2rem;
    margin-bottom: 20px;
  }
  #banner a.more{
    scale: 0.9;
    transform-origin: left;
  }
}
@media (max-width:765px) {
  #banner{
  background: url(./assets/banner/bannerm.png) no-repeat center right / cover;
  padding: 60px;
  }
  #banner h3{
    font-size: 3.5rem;
    margin-bottom: 120px;
  }
  #banner p{
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
}
@media(max-width:380px){
  #banner h3{
    font-size: 3rem;
    margin-bottom: 100px;
  }
}


/* Sale */
#sale{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#sale .titbox{
  width: 300px;
}
#sale .cont1{
  background: url(./assets/sale/bg1.png) no-repeat center left / cover;
  color: #fff;
  padding: 80px;
  width: calc(100% - 400px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#sale .tabbox .tablist{
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
#sale .tabbox .tablist li{
  font-size: 3rem;
  font-weight: 400;
  cursor: pointer;
}
#sale .tabbox .tablist li.active{
  font-weight: 800;
  text-decoration: underline;
}
#sale .tabbox{
  width: 47%;
}
#sale .tabbox .tabcont li img{
  width: 100%;
}
#sale .txtbox{
  padding-top: 100px;
  width: 47%;
}
#sale .txtbox h4{
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 50px;
}
#sale .txtbox p{
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 90px;
}
#sale .cont2box{
  width: calc(100% - 500px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#sale .cont2box .cont2{
  background: url(./assets/sale/bg2.png) no-repeat center left / cover;
  color: #fff;
  width: calc(100% - 210px);
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#sale .cont2box .others{
  width: 200px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  line-height: 110%;
  text-transform: uppercase;
  font-weight: 200;
  transition: all 0.5s;
}
#sale .cont2box .others:hover{
  font-weight: 900;
}
#sale .cont2box .cont2 .tabbox .tablist{
  gap: 30px;
  margin-bottom: 30px;
}
#sale .cont2box .cont2 .tabbox .tablist li{
  font-size: 2.5rem;
}

@media(max-width:1650px){
  #sale .cont1 .tabbox .tablist li{
    font-size: 2.5rem;
  }
  #sale .cont2box .cont2 .tabbox .tablist li{
    font-size: 2.2rem;
  }
  #sale .tabbox .tablist{
    gap: 30px;
    margin-bottom: 30px;
  }
  #sale .cont2box .cont2 .tabbox .tablist{
    gap: 25px;
    margin-bottom: 25px;
  }
  #sale .txtbox{
    padding-top: 70px;
    width: 47%;
  }
  #sale .txtbox h4{
    font-size: 3rem;
    margin-bottom: 40px;
  }
  #sale .txtbox p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 80px;
  }
  #sale .cont2box{
    width: calc(100% - 400px);
  }
  #sale .cont2box .cont2{
    width: calc(100% - 160px);
  }
  #sale .cont2box .others{
    width: 150px;
    font-size: 4.5rem;
  }

}

@media(max-width:1450px){
  #sale .cont1 .tabbox .tablist li{
    font-size: 2rem;
  }
  #sale .cont2box .cont2 .tabbox .tablist li{
    font-size: 2rem;
  }
  #sale .tabbox .tablist{
    gap: 25px;
    margin-bottom: 25px;
  }
  #sale .cont2box .cont2 .tabbox .tablist{
    gap: 25px;
    margin-bottom: 25px;
  }
  #sale .txtbox h4{
    font-size: 2rem;
    margin-bottom: 30px;
  }
  #sale .txtbox p{
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 60px;
  }
  #sale .cont2box{
    width: calc(100% - 300px);
  }
  #sale .cont2box .cont2{
    width: calc(100% - 130px);
  }
  #sale .cont2box .others{
    width: 120px;
    font-size: 4.5rem;
  }
}

@media(max-width:1200px){

  #sale .titbox{
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
  }
  #sale .cont1{
    width: 100%;
    margin-bottom: 15px;
  }
  #sale .cont2box{
    width: 100%;
  }

}

@media(max-width:900px){
  #sale .titbox p{
    font-size: 1.6rem;
  }
  #sale .cont2box .cont2{
    width: 100%;
  }
  #sale .cont1 .tabbox .tablist li{
    font-size: 1.8rem;
  }
  #sale .cont2box .cont2 .tabbox .tablist li{
    font-size: 1.8rem;
  }
  #sale .cont2box .others{
    width: 100%;
    padding: 20px 0;
    margin-top: 5px;
  }
  #sale .cont2box .others br{
    display: none;
  }
}

@media(max-width:765px){
  #sale .titbox p{
    font-size: 1.4rem;
    margin: 0 30px;
  }
  #sale .cont1{
    margin-bottom: 10px;
  }
  #sale .cont1,
  #sale .cont2box .cont2{
    padding: 40px;
  }
  #sale .tabbox {
    width: 100%;
  }
  #sale .txtbox {
    width: 100%;
  }
  #sale .cont2box .others{
    font-size: 3rem;
  }
}
@media(max-width:480px){
  #sale .titbox p{
    font-size: 1.2rem;
    margin: 0 18px;
  }
  #sale .cont1,
  #sale .cont2box .cont2{
    padding: 30px;
  }
  
}
@media(max-width:380px){
  #sale .cont1,
  #sale .cont2box .cont2{
    padding: 18px;
  }
}

/* pt */
#pt{
  padding: 5px 0 100px;
  background-color: #FF694E;
}
#pt .titbox{
  display: flex;
  align-items: flex-end;
  padding-right: 5%;
  margin-bottom: 100px;
}
#pt .titbox p{
  color: #fff;
}
#pt .ptbox{
  display: flex;
  flex-wrap: wrap;
}
#pt .ptbox li{
  width: calc(100% / 6);
  cursor: pointer;
}
#pt .ptbox li img{
  width: 101%;
  height: 101%;
}
#pt .ptbox li:last-child img{
  filter: brightness(0);
}
#pt .ptbox li:hover:not(:last-child) img{
  opacity: 0.5;
}
#pt .ptbox li:last-child{
  position: relative;
}
#pt .ptbox li:last-child::after{
  content: "others +";
  white-space: nowrap;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.5s;
}
#pt .ptbox li:hover:last-child::after{
  font-weight: 900;
}

@media (max-width:1200px){
  #pt .titbox{
    margin-bottom: 70px;
  }
}

@media (max-width:765px){
  #pt .titbox{
    margin-bottom: 40px;
    flex-direction: column;
    align-items: start;
  }
  #pt .ptbox li{
    width: calc(100% / 3);
  }
}
@media (max-width:500px){
  #pt .ptbox li:last-child::after{
    font-size: 1.8rem;
  }
}

/* directing */
#directing{
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#directing .imgbox{
  height: 90vh;
  width: 40%;
  position: relative;
  background: url(./assets/directing/directingbg.png) no-repeat center center / cover;
}
#directing .imgbox img{
  position: absolute;
  height: 70%;
  top: 15%;
  right: -10%;
}
#directing .txtbox{
  width: 50%;
  padding-right: 5%;
}

#directing .txtbox .date{
  font-weight: 200;
  font-size: 3rem;
  margin-bottom: 5px;
}
#directing .txtbox h3{
  font-weight: 100;
  font-size: 8rem;
  margin-bottom: 90px;
}
#directing .txtbox h5{
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 40px;
}
#directing .txtbox p{
  font-weight: 200;
  font-size: 2rem;
  background-color: #fff;
}
#directing .txtbox .plus{
  font-size: 10rem;
  font-weight: 100;
  border: 1px dashed #000;
  text-align: right;
  position: absolute;
  width: 40%;
  height: 20%;
  top: 70%;
  right: 3%;
  z-index: -1;
  cursor: pointer;
}

@media(max-width:1200px){
  #directing .txtbox .date{
    font-size: 2rem;
    margin-bottom: 5px;
  }
  #directing .txtbox h3{
    font-size: 5rem;
    margin-bottom: 70px;
  }
  #directing .txtbox h5{
    font-size: 3rem;
    margin-bottom: 40px;
  }
  #directing .txtbox p{
    font-size: 1.6rem;
  }
}

@media(max-width:765px){
  #directing .imgbox{
    height: 50vh;
    width: 100%;
  }
  #directing .imgbox img{
    height: 90%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
  #directing .txtbox{
    width: 100%;
    padding: 10% 10% 20%;
  }
  #directing .txtbox .date{
    margin-top: 20px;
  }
  #directing .txtbox .plus{
    width: 70%;
    height: 10%;
    top: 87%;
  }
}
@media(max-width:465px){
  #directing .txtbox p{
    font-size: 1.4rem;
  }
}

/* footer */
footer{
  background-color: #000;
  color: #fff;
  padding: 100px 0;
}
footer .footmenu{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}
footer .footmenu li a{
  color: #fff;
  font-weight: 800;
  font-size: 2rem;
}
footer .footmenu li:hover a{
  text-decoration: underline;
}
footer .slogan{
  font-size: 3.2rem;
  font-weight: 200;
  margin-bottom: 10px;
}
footer .copy{
  font-size: 1.6rem;
  font-weight: 200;
  margin-bottom: 50px;
}
footer .bottom{
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .bottom .footlogo{
  line-height: 1.1;
  text-align: center;
  font-size: 5rem;
  font-weight: 200;
}
footer .bottom .footlogo span{
  font-size: 3.8rem;
  display: block;
}
footer .bottombox .finform{
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
  margin-bottom: 10px;
}
footer .bottombox .finform li{
  font-weight: 200;
  font-size: 1.6rem;
}
footer .bottombox .finform li span{
  font-weight: 600;
  display: inline-block;
  margin-right: 5px;
}
footer .bottombox .alert{
  font-size: 1.6rem;
  font-weight: 200;
}


@media(max-width:1200px){
  footer{
    padding: 70px 0;
  }
  footer .footmenu{
    gap: 25px;
    margin-bottom: 30px;
  }
  footer .footmenu li a{
    font-size: 1.6rem;
  }
  footer .slogan{
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  footer .copy{
    font-size: 1.4rem;
    margin-bottom: 50px;
  }
  footer .bottombox .finform li{
    font-size: 1.4rem;
  }
  footer .bottombox .alert{
    font-size: 1.4rem;
  }
}
@media(max-width:765px){
  footer{
    padding: 50px 0;
  }
  footer .bottom{
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 40px;
  }
  footer .footmenu{
    gap: 10px;
    margin-bottom: 30px;
  }
  footer .slogan{
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  footer .copy{
    font-size: 1.2rem;
    margin-bottom: 50px;
  }
  footer .footmenu li{
    width: 100%;
  }
  footer .bottombox .finform li{
    width: 100%;
  }
}


/* sub2 */

/* mv2 */
#mv2{
  margin-top: 141px;
  border-top: 1px solid #000;
  border-bottom: 20px solid #000;
  height: 480px;
  position: relative;
}
#mv2 .background{
  font-size: 40rem;
  position: absolute;
  font-weight: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.1);
}
#mv2 .background span{
  font-weight: 900;
}
#mv2 h3{
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12rem;
  font-weight: 800;
  white-space: nowrap;
}
#mv2 h3 span{
  font-weight: 100;
}

@media(max-width:1200px){
  #mv2{
    margin-top: 80px;
    height: 400px;
      border-bottom: 16px solid #000;
  }
  #mv2 .background{
    font-size: 30rem;
  }
  #mv2 h3{
    font-size: 10rem;
  }
}
@media(max-width:765px){
  #mv2{
    margin-top: 120px;
    height: 550px;
      border-bottom: 12px solid #000;
  }
  #mv2 .background{
    font-size: 25rem;
    line-height: 1;
    text-align: center;
  }
  #mv2 .background span{
    display: block;
  }
  #mv2 h3{
    text-align: center;
    line-height: 1;
  }
  #mv2 h3 span{
    display: block;
  }
}
@media(max-width:480px){
  #mv2{
    margin-top: 100px;
  }
}
@media(max-width:385px){
  #mv2{
    margin-top: 124px;
  }
}

/* tview */

#tview .viewtab{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5% 0 10%;
}
#tview .viewtab li img{
  width: 100%;
}
#tview .viewtab li p{
 font-size: 2rem;
 font-weight: 200; 
 text-align: center;
 margin-top: 10px;
}
#tview .viewtab li.active p{
 font-weight: 800; 
}
#tview .viewtab li.active img{
  filter: invert(1);
}

#tview .tviewcont li > div a{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
#tview .tviewcont li > div a img{
  width: 60%;
}
#tview .tviewcont li > div a .txtbox{
  width: calc(40% - 50px);
}
#tview .tviewcont li > div a .txtbox:hover{
  text-decoration: underline;
}

#tview .tviewcont li > div a .txtbox h4{
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}
#tview .tviewcont li > div a .txtbox .txt{
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 60px;
}
#tview .tviewcont li > div a .txtbox .date{
  font-size: 2.2rem;
  font-weight: 600;
}

@media(max-width:1200px){
  #tview .viewtab{
    padding: 0 40px;
  }
  #tview .viewtab li{
    width: calc((100% - 105px) / 8);
  }
  #tview .viewtab li p{
  font-size: 1.6rem;
  }

  #tview .tviewcont li > div a{
    margin-bottom: 40px;
  }
  #tview .tviewcont li > div a img{
    width: 55%;
  }
  #tview .tviewcont li > div a .txtbox{
    width: calc(45% - 40px);
  }
  #tview .tviewcont li > div a .txtbox h4{
    font-size: 2rem;
    margin-bottom: 15px;
  }
  #tview .tviewcont li > div a .txtbox .txt{
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  #tview .tviewcont li > div a .txtbox .date{
    font-size: 1.6rem;
  }
}

@media(max-width:1024px){
  #tview .viewtab{
    padding: 0 20px;
  }
}
@media(max-width:900px){
  #tview .viewtab{
    padding: 0;
  }
}

@media(max-width:765px){
  #tview .viewtab{
    padding: 0 80px;
  }
  #tview .viewtab li{
    width: calc((100% - 45px) / 4);
    margin-bottom: 10px;
  }
  #tview .viewtab li p{
  font-size: 1.4rem;
  margin-top: 5px;
  }

  #tview .tviewcont li > div a{
    margin-bottom: 50px;
  }
  #tview .tviewcont li > div a img{
    width: 100%;
  }
  #tview .tviewcont li > div a .txtbox{
    padding: 20px 20px 0 20px;
    width: 100%;
  }
}
@media(max-width:600px){
  #tview .viewtab{
    padding: 0 40px;
  }
}
@media(max-width:450px){
  #tview .viewtab{
    padding: 0;
  }
  #tview .viewtab li{
    width: calc((100% - 30px) / 4);
  }
  #tview .tviewcont li > div a .txtbox .txt{
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

/* pview */
#pview{
  margin: 150px 0;
}
#pview .tit{
  margin-bottom: 80px;
}
#pview .inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#pview .inner li{
  width: calc((100% - 160px) / 3);
}
#pview .inner li img{
  width: 100%;
  margin-bottom: 25px;
}
#pview .inner li .txtbox{
  margin-bottom: 80px;
}
#pview .inner li:hover .txtbox{
  text-decoration: underline;
}
#pview .inner li h3{
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}
#pview .inner li .txt{
  font-size: 1.6rem;
  font-weight: 200;
  color: #888;
  margin-bottom: 30px;
}
#pview .inner li .date{
  font-size: 2rem;
  font-weight: 600;
}

@media(max-width:1400px){
  #pview .inner li h3{
    font-size: 2rem;
    margin-bottom: 5px;
  }
  #pview .inner li .txt{
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  #pview .inner li .date{
    font-size: 1.6rem;
  }
  #pview .inner li{
    width: calc((100% - 100px) / 3);
  }
}

@media(max-width:1200px){
  #pview{
  margin: 100px 0;
  }
  #pview .tit{
    margin-bottom: 60px;
  }
  #pview .inner{
    padding: 0 40px;
  }
  #pview .inner li{
    width: calc((100% - 40px) / 3);
  }
}

@media(max-width:1024px){
  #pview .inner li{
    width: calc((100% - 30px) / 2);
  }
}

@media(max-width:765px){
  #pview{
  margin: 80px 0;
  }
  #pview .tit{
    margin-bottom: 40px;
  }
  #pview .inner{
    padding: 0 20px;
  }
  #pview .inner li{
    width: calc((100% - 20px) / 2);
  }
  #pview .inner li .txtbox{
    margin-bottom: 60px;
  }
   #pview .inner li h3{
    font-size: 1.6rem;
    margin-bottom: 5px;
  }
  #pview .inner li .txt{
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  #pview .inner li .date{
    font-size: 1.4rem;
  }
}

@media(max-width:550px){
  #pview .inner{
    padding: 0 10px;
  }
  #pview .inner li{
    width: 100%;
  }
}

/* mv3 */
#mv3{
  margin-top: 141px;
}
#mv3 .mv3Swiper{
  margin-bottom: 50px;
}
#mv3 .mv3Swiper .swiper-button-prev,
#mv3 .mv3Swiper .swiper-button-next{
  color: #fff;
}

#mv3 .mv3Swiper .swiper-wrapper .swiper-slide{
  color: #fff;
  width: 100%;
  height: 510px;
}
#mv3 .mv3Swiper .swiper-wrapper .swiper-slide:nth-child(1){
  background: url(/mv3/mv3bg3.png) no-repeat center center / cover;
}
#mv3 .mv3Swiper .swiper-wrapper .swiper-slide:nth-child(2){
  background: url(/mv3/mv3bg2.png) no-repeat center center / cover;
}
#mv3 .mv3Swiper .swiper-wrapper .swiper-slide:nth-child(3){
  background: url(/mv3/mv3bg.png) no-repeat center center / cover;
}
#mv3 .mv3Swiper .swiper-wrapper .swiper-slide .inner{
  display: flex;
  align-items: center;
  height: 100%;
}
#mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap{
  width: 566px;
}
#mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox h3{
  font-size: 16rem;
  font-weight: 900;
  text-transform: uppercase;
}
#mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox h3 span{
  font-weight: 100;
}
#mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox ul{
  display: flex;
  align-items: center;
  gap: 20px;
  border-top: 1px solid #fff;
  margin-bottom: 30px;
}
#mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox ul .txt{
  font-size: 1.4rem;
  font-weight: 200;
}
#mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox ul .year{
  font-size: 10rem;
}
#mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .before{
  font-size: 3rem;
  font-weight: 200;
  transition: all 0.5s;
  cursor: pointer;
}
#mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .before:hover{
  font-weight: 700;
}

#mv3 .mv3cont li{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#mv3 .mv3cont li > a{
  display: block;
  width: calc(50% - 30px);
}
#mv3 .mv3cont li > a img{
  width: 100%;
  margin-bottom: 20px;
}
#mv3 .mv3cont li > a h4{
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 30px;
}
#mv3 .mv3cont li > a .txt{
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 10px;
}
#mv3 .mv3cont li > a .hash{
  display: inline-block;
  border: 1px solid #ccc;
  padding: 3px 8px;
  margin-left: 20px;
  font-size: 1.4rem;
  font-weight: 200;
  transition: all 0.5s;
  cursor: pointer;
}
#mv3 .mv3cont li > a .hash:hover{
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}
#mv3 .mv3cont li > a .date{
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 100px;
}


@media(max-width:1200px){
  #mv3{
    margin-top: 80px;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide{
    height: 400px;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide:nth-child(1){
    background: url(/mv3/mv3bg3t.png) no-repeat center center / cover;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide:nth-child(2){
    background: url(/mv3/mv3bg2t.png) no-repeat center center / cover;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide:nth-child(3){
    background: url(/mv3/mv3bgt.png) no-repeat center center / cover;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox h3{
    font-size: 12rem;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox ul{
    gap: 15px;
    margin-bottom: 25px;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox ul .txt{
    font-size: 1.2rem;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox ul .year{
    font-size: 7rem;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .before{
    font-size: 2.5rem;
  }
  #mv3 .mv3cont li > a{
    width: calc(50% - 10px);
  }
  #mv3 .mv3cont li > a h4{
    font-size: 2rem;
    margin-bottom: 20px;
  }
  #mv3 .mv3cont li > a .txt{
    font-size: 1.6rem;
    margin-bottom: 8px;
  }
  #mv3 .mv3cont li > a .hash{
    padding: 3px 8px;
    margin-left: 20px;
    font-size: 1.4rem;
  }
  #mv3 .mv3cont li > a .date{
    font-size: 1.4rem;
    margin-bottom: 80px;
  }
}

@media(max-width:765px){
  #mv3{
    margin-top: 120px;
  }
  #mv3 .swiper .swiper-wrapper .swiper-slide img{
    height: calc(100vh);
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide:nth-child(1){
    background: url(/mv3/mv3bg3m.png) no-repeat center center / cover;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide:nth-child(2){
    background: url(/mv3/mv3bg2m.png) no-repeat center center / cover;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide:nth-child(3){
    background: url(/mv3/mv3bgm.png) no-repeat center center / cover;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox h3{
    font-size: 10rem;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox ul{
    gap: 15px;
    margin-bottom: 480px;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox ul .txt{
    margin-top: 10px;
    font-size: 1.2rem;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .txtbox ul .year{
    font-size: 7rem;
  }
  #mv3 .mv3Swiper .swiper-wrapper .swiper-slide .txtwrap .before{
    font-size: 2rem;
  }
  #mv3 .mv3cont li > a{
    width: 100%;
  }
}
@media(max-width:480px){
  #mv3{
    margin-top: 100px;
  }
  #mv3 .mv3cont li > a h4{
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
  #mv3 .mv3cont li > a .txt{
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
  #mv3 .mv3cont li > a .hash{
    padding: 2px 6px;
    margin-left: 15px;
    font-size: 1.2rem;
  }
  #mv3 .mv3cont li > a .date{
    font-size: 1.2rem;
    margin-bottom: 60px;
  }
}
@media(max-width:385px){
  #mv3{
    margin-top: 124px;
  }
}
